.quantity-unit-input input {
  height: 30px;
  box-shadow: none;
}
.quantity-unit-input [role='combobox'] {
  width: inherit;
}
.quantity-unit-input [role='combobox'] button {
  height: 30px;
}
.quantity-unit-input [role='combobox'] input:focus {
  border-right: 1px solid rgba(67, 90, 111, 0.14);
}
